<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.afeilulu.airdomewatchdog"
    android:versionCode="1"
    android:versionName="0.1" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Iosched.Home" >
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
           <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PrefActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.afeilulu.airdomewatchdog.intent.action.preference" />

                <category android:name="android.intent.category.PREFERENCE" />
            </intent-filter>
        </activity>

        <receiver android:name=".service.AirDomeBCR" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action android:name="com.afeilulu.airdomewatchdog.intent.action.PREFERENCE_CHANGED" />
            </intent-filter>
        </receiver>

        <service android:name=".service.ModbusScanService" />
        <service android:name=".service.FtpFile2JsonService" />
        <service android:name=".service.RebootService" />
        <service android:name=".service.UploadService" />


        <!--
        <receiver
            android:name=".service.ConnectionChangeReceiver"
            android:label="NetworkConnection" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        -->
        <activity
            android:name=".MinMaxActivity"
            android:label="@string/title_activity_min_max"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
             
        </activity>
    </application>

</manifest>